OPENPROJECT_API_TOKEN=
OPENPROJECT_BASE_URL=

OIDC_ENABLED=false # Caution! Without OIDC, the panel will have NO authentication, and ANYONE will be able to use it with your API token. You have been warned.
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_ISSUER_URL=
OIDC_REDIRECT_URI=

SECRET_KEY=